<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <% if(todos.length){ %>
    <% todos.forEach((todo, idx) =>{ %>
      <li><%= todo.value %> - <%= todo.completed ? "done" : "not done" %></li>
      <form action="/<%= idx %>?_method=DELETE" method="POST">
        <input type="submit" value="X">
      </form>
    <% }) %>
  <% } else { %>
    <h1>there are no todos yet :)</h1>

  <% } %>
  <form action="/" method="POST">
    <input type="text" name=value>
    <input type="submit" value="Submit Todo">
  </form>
</body>

</html>